ul{
    list-style-type:none;
}

li{
    float: left;
}

.boy_girl{
    padding-top:80px; 
    padding-left:47px;
}

.info{
    padding-top:140px; 
}

.info form  label span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}

.info form label {
    display: block;
    margin: 0px 0px 5px;
}

.info form label input{
    color: #888;
    width: 70%;
    padding: 0px 0px 0px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}

.info form .button_boy{
    margin-left:160px ;
    margin-top:30px;
    padding: 10px 30px 10px 30px;
    background: #66C1E4;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;
}

.info form .button_boy:hover{
background: #3EB1DD;
}

.info form .button_gril{
    margin-left:160px ;
    margin-top:30px;
    padding: 10px 30px 10px 30px;
    background: #FF1493;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px #FF1493;
    -webkit-box-shadow: 1px 1px 1px #FF1493;
    -moz-box-shadow: 1px 1px 1px #FF1493;
    text-shadow: 1px 1px 1px #FF1493;
}

.info form .button_gril:hover{
background: #C71585;
}


