<!-- 发布任务的页面-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="__URL__/deal" method="post">
        话题：<INPUT type = "text" name = "time"> <br/>
        摘要：<INPUT type = "text" name = "class"> <br/>
        内容：<INPUT type = "text" name = "room"> <br/>
        标签：<INPUT type = "text" name = "demand"> <br/>
                    
        <INPUT type = "submit" value = "发布">  


    </form>
    
</body>
</html>