<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <title>资料管理</title>
</head>
<body>
 <div style="margin:0 auto;text-align:center;margin-top:200px">
    <form action="__URL__/pul" method="post" enctype="multipart/form-data">
        名称：<input name="word" type="text"></br>
        图片：<input name="img" type="file" ></br>
        说明：<input name="sm" type="file"></br>
        <input type="submit" value="提交"></br>
    </form>
 </div>
 
 </div>

</body>
</html>