<!-- 注册的页面-->
<html>
<head>
    <meta charset="utf-8">
    <tittle></tittle>

    <!--<link  href="__PUBLIC__/css/register.css" rel="stylesheet" type="text/css" />-->

</head>

<body>
    <div style="margin:0 auto;text-align:center;margin-top:200px">
        <!--表单信息-->
        <p>用户注册</p>
        <div class="info">
            <!--action和method留给后台-->
            <form action="__URL__/register_boy" method="post">
                <label>
                    <span>用户名：</span><input name="name" type="text" placeholder="请输入用户名" />
                </label><br><br><br>
                <label>
                    <span>密码：</span><input name="pw" type="password" placeholder="请输入密码" />
                </label><br><br><br>
                <label>
                    <span>电话：</span><input name="tel" type="text" placeholder="请输入电话" />
                </label><br><br><br>

                <input type="submit" class="button_boy">
            </form>
        </div>
        </div>
</body>

</html>