<!-- 新闻具体内容的页面-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>爱学习</title>
</head>
<body background="__PUBLIC__/img/11.jpg">
    <div style="margin:0 auto;text-align:center;margin-top:200px">
        <div>
            <img src="__PUBLIC__/img/inst/{$data.pic}">
        </div>
        <div>
            {$w}
        </div>
</div>
</body>
</html>